@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Feed Your Health</h1>
    <p>Track your daily food intake without fixating on calories, fat, or carbs.</p>
    <p>Here you can put your focus into how your food makes you feel, physically and emotionally.</p>
</div>
