@model List<Meal_Tracking_App.Models.Entry>

<h1>Daily Entries</h1>

<p>
    <a asp-controller="Entries" asp-action="Add">Add Entry</a>
</p>


<p>
    <a asp-controller="Entries" asp-action="Delete">Delete Entry</a>
</p>

@if (Model.Count == 0)
{
    <p>No entries yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
        </tr>
        @foreach (var entry in Model)
        {
            <tr>
                <td><a asp-controller="Entries" asp-action="Detail" asp-route-id="@entry.Id">@entry.Date.ToShortDateString()</a></td>
                <td>@entry.Time.ToShortTimeString()</td>
            </tr>
        }
    </table>
}